:root{
    --grey-dark:#716E6E;
    --grey-light: #AEAEAE;
    --green: #0BDE46;
    --blue:#0D79DD;
    --blue-dark:#052054;
    --blue-light: #09abdd;
    --font-family-body:"Lato", sans-serif;
    --font-family-header: "Work Sans", sans-serif;
    --font-weight-thin: 100;
    --font-weight-extra-light: 200;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 700;
}
main{
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.profile_wrapper{
    border: 2px solid var(--grey-dark);
    border-radius: 10px;
    max-width: 550px;
    margin-inline: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .profile_img{
        margin-bottom: 1.5rem;
        img{
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }
    }
    .grid{
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        .detail{
            font-family: var(--font-family-body);
            font-size: 1.3rem;
            p:first-child{
                font-family: var(--font-family-header);
                font-size: 1.5rem;
                font-weight: var(--font-weight-medium);
            }
        }
    }
}