:root {
  --grey-dark: #716e6e;
  --grey-light: #aeaeae;
  --green: #0bde46;
  --blue: #0d79dd;
  --blue-dark: #052054;
  --font-family-body: "Lato", sans-serif;
  --font-family-header: "Work Sans", sans-serif;
  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 700;
}
main{
    padding-inline: 3rem;
    margin-bottom: 2rem;
}
.client_profile_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000;
    border-radius: 10px;
    max-width: 900px;
    margin-inline: auto;
    padding: 1.5rem;
    background: rgba(8, 255, 255, 0.1);
    .client_profile{
        margin-bottom: 1.5rem;
        img{
            border-radius: 50%;
        }
    }
    .details{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        font-family: var(--font-family-body);
        font-size: 1.3rem;
        margin-bottom: 1.5rem;
    }
    button{
        background: red;
        font-family: var(--font-family-header);
        color: #fff;
        padding: 0.5em 1.5em;
        border: none;
        border-radius: 10px;
        &:hover{
            cursor: pointer;
            opacity: 0.8;
        }
    }
}
.confirmation_modal{
    margin: auto;
    position: fixed;
    max-width: 400px;
    border-radius: 10px;
    padding: 1.5rem;
    &::backdrop{
        background-color: rgba(0,0,0,0.5);
    }
    @media screen and (max-width: 550px) {
      margin-inline: 1rem;
    }
    &>div{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      height: 100%;
      p{
        font-size: 1.5rem;
        text-align: center;
        font-family: var(--font-family-body);
      }
      .btns{
        align-self: center;
        button{
          padding: 7px 1.5rem;
          border-radius: 8px;
          border: none;
          font-family: var(--font-family-header);
          font-size: 1.3rem;
          font-weight: var(--font-weight-semi-bold);
          &:hover{
            opacity: 0.9;
            cursor: pointer;
          }
          &:nth-child(1){
            background-color: red;
            color: #fff;
            margin-right: 1rem;
          }
          &:nth-child(2){
            background-color: var(--green);
            color: #fff;
          }
        }
      }
    }
  }