@layer reset {
  * {
    margin: 0;
    padding: 0;
  }
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    margin: 0;
    padding: 0;
  }
  button,
  input,
  textarea,
  select {
    font: inherit;
  }
  img,
  picture,
  svg,
  canvas {
    max-inline-size: 100%;
    block-size: auto;
  }
  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}
:root {
  --grey-dark: #716e6e;
  --grey-light: #aeaeae;
  --green: #0bde46;
  --blue: #0d79dd;
  --blue-dark: #052054;
  --blue-light: #09abdd;
  --font-family-body: "Lato", sans-serif;
  --font-family-header: "Work Sans", sans-serif;
  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 700;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 15px;
}
body{
  &::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
  
  &::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background color of the track */
  }
  
  &::-webkit-scrollbar-thumb {
    background: var(--blue); /* Color of the thumb */
    border-radius: 10px;
  }
  
  &::-webkit-scrollbar-thumb:hover {
    background: var(--blue-dark); /* Color of the thumb on hover */
    cursor: grabbing;
  }
}
.logo {
  position: absolute;
  top: 50px;
  left: 50px;
}
.application-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 100px;
  margin-bottom: 50px;
  max-width: 500px;
  .header {
    text-align: center;
    h1 {
      font-family: var(--font-family-header);
      font-size: 2rem;
      color: var(--blue);
      font-weight: var(--font-weight-bold);
      margin-bottom: 15px;
    }
    p {
      font-family: var(--font-family-body);
      font-size: 1.3rem;
      font-weight: var(--font-weight-medium);
      margin-bottom: 20px;
      color: var(--grey-dark);
    }
  }
  .form-field {
    display: flex;
    flex-direction: column;
    position: relative;
    p {
      font-family: var(--font-family-body);
    }
    label {
      margin-bottom: 3px;
      font-family: var(--font-family-header);
      font-size: 1rem;
      font-weight: var(--font-weight-bold);
    }
    input {
      width: 425px;
      height: 48px;
      border-radius: 8px;
      border: 2px solid var(--grey-dark);
      padding-left: 10px;
      padding-left: 10px;
      font-family: var(--font-family-body);
      font-size: 1.1rem;
    }
    .bx {
      position: absolute;
      right: 10px;
      top: 35px;
      font-size: 1.5rem;
    }
    small {
      color: red;
      font-family: var(--font-family-body);
      font-size: 1rem;
      max-width: 425px;
    }
  }
  .password-field {
    .bx:hover {
      cursor: pointer;
    }
  }
  .submit-btn {
    width: 376px;
    height: 48px;
    background-color: var(--green);
    color: #fff;
    font-family: var(--font-family-header);
    font-size: 1.5rem;
    font-weight: var(--font-weight-medium);
    border: none;
    border-radius: 5px;
    &:hover {
      opacity: 0.9;
      cursor: pointer;
    }
  }
  .agreement {
    font-family: var(--font-family-body);
    font-size: 1rem;
    max-width: 483px;
    text-align: center;
    a {
      text-decoration: none;
      color: var(--blue-light);
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
@media screen and (max-width: 550px) {
  body {
    padding: 10px;
  }
  .logo {
    position: static;
    display: block;
    margin-inline: auto;
  }
  .application-form {
    margin-top: 10px;
    .header {
      h1 {
        font-size: 1.5rem;
        font-weight: var(--font-weight-semi-bold);
      }
      p {
        font-size: 1rem;
        margin-bottom: 1rem;
      }
    }
    .form-field {
      p {
        max-width: 350px;
      }
      input {
        width: 350px;
      }
      small{
        max-width: 350px;
      }
    }
    .submit-btn {
      width: 301px;
      height: 43px;
    }
  }
}


@media screen and (max-width: 370px) {
  .application-form {
    .form-field {
      input {
        width: 315px;
      }
      small{
        max-width: 315px;
      }
    }
    .submit-btn {
      width: 250px;
    }
  }
}
