@layer reset {
    *,
    *::after,
    *::before {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    body {
      margin: unset;
    }
    button,
    input,
    textarea,
    select {
      font: inherit;
    }
    img,
    picture,
    svg,
    canvas {
      /* display: block; */
      max-inline-size: 100%;
      block-size: auto;
    }
    @media (prefers-reduced-motion: reduce) {
      *,
      *::before,
      *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
      }
    }
}
:root{
    --grey-dark:#716E6E;
    --grey-light: #AEAEAE;
    --green: #0BDE46;
    --blue:#0D79DD;
    --blue-dark:#052054;
    --font-family-body:"Lato", sans-serif;
    --font-family-header: "Work Sans", sans-serif;
    --font-weight-thin: 100;
    --font-weight-extra-light: 200;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 700;
}
.talent-form{
    padding-inline: 4rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1.3rem;
    margin-bottom: 1.5rem;
    @media screen and (max-width: 830px) {
        padding-inline: 1rem;
        grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: 550px) {
        grid-template-columns: 1fr;
        margin-top: 2rem;
    }
}
.talent-detail, .abt{
    display: flex;
}
.profile-img{
    display: flex;
    align-items: end;
    input{
        display: none;
    }
}
.profile_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    padding: 3rem 0;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
    @media screen and (max-width: 830px) {
        padding: 1rem 0;
    }
}
.profile_container .profile-img, .profile_container h3,
 .profile_container .address, .profile_container .experience, .profile_container .media{
    display: flex;
    align-self: center;
    justify-self: center;
 }
.profile-img img{
    width: 154px;
    height: 154px;
    border-radius: 50%;
    object-fit: contain;
}
.profile_container h3{
    font-family: var(--font-family-header);
    font-size: 2rem;
    font-weight: var(--font-weight-semi-bold);
    color: var(--blue);
    margin-top: 0.5rem;
}
.address{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 5px;
}
.address h5{
    font-family: var(--font-family-header);
    font-size: 20px;
    font-weight: var(--font-weight-semi-bold);
}
.experience h6{
    font-size: 18px;
    font-family: var(--font-family-header);
    font-weight: var(--font-weight-semi-bold);
    padding-bottom: 10px;
}
.media{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.7rem;
    gap: 1.5rem;
}
.Facebook img, .twitter img, .linkdin img{
    width: 2.5rem;
    height: 2.5rem;
}
.detail-box{
    padding: 1.3rem 2rem;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
    @media screen and (max-width: 830px) {
        padding: 1rem;
    }
}
.detail-box h3{
    font-family: var(--font-family-header);
    font-size: 24px;
    font-weight: var(--font-weight-semi-bold);
    color: var(--blue);
    @media screen and (max-width: 830px) {
        font-size: 1.3rem;
    }
}
h6{
    display: flex;
    flex-direction: row; 
    align-items: center;
}
h3 img{
    margin-left: 70%;
}
.detail-box .fullname p{
    /* position: relative; */
    font-family: var(--font-family-body);
    font-size: 20px;
    margin-left: 25%;
    @media screen and (max-width: 830px) {
        margin-left: 14%;
    }
    @media screen and (max-width: 770px) {
        margin-left: 7%;
    }
}
.fullname, .email, .skills{
    display: flex;
    margin-top: 1rem;
    align-items: center;
    margin-bottom: 0.5rem;
}
.skills{
    list-style: none;
    font-family: var(--font-family-body);
}
.expertise{
    margin-top: 1.5rem;
}
.detail-box .email p{
    /* margin-left: 32%; */
    font-size: 1.3rem;
    font-family: var(--font-family-body);
    /* @media screen and (max-width: 830px) {
        margin-left: 27%;
    }
    @media screen and (max-width: 770px) {
        margin-left: 21%;
    } */
}
.skills{
    margin-top: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    @media screen and (max-width: 830px) {
        gap: 0.5rem;
    }
    /* .skill{
        border: solid 0.5px var(--blue);
        color: var(--blue);
        padding: 8px 1.5rem;
        border-radius: 40px;
        @media screen and (max-width: 830px) {
            padding: 8px 1rem;
        }
    } */
}

.skill{
    border: solid 0.5px var(--blue);
    color: var(--blue);
    padding: 8px 1.5rem;
    border-radius: 40px;
    @media screen and (max-width: 830px) {
        padding: 8px 1rem;
    }
}
.about-box{
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 2rem;
}
.about-box h3{
    margin-bottom: 30px;
    font-size: 1.5rem;
    font-weight: var(--font-weight-semi-bold);
}
.about-box p{
    font-family: var(--font-family-body);
    font-size: 1.5rem;
}
.workHis-box{
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 1.3rem;
    height: max-content;
    .no_workhistory{
        font-family: var(--font-family-body);
        font-size: 1.5rem;
        color: var(--grey-dark);
        font-weight: var(--font-weight-semi-bold);
    }
    .project{
        margin-bottom: 1rem;
        margin-top: 1rem;
        h4{
            font-family: var(--font-family-header);
            font-size: 1.3rem;
            font-weight: var(--font-weight-medium);
            margin-bottom: 0.5rem;
        }
        p{
            font-family: var(--font-family-body);
            font-size: 1.3rem;
            margin-bottom: 1.5rem;
        }
        .project_skills{
            list-style: none;
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;
            @media screen and (max-width: 830px) {
                gap: 0.5rem;
            }
            li{
                font-family: var(--font-family-body);
                border: 1px solid var(--blue);
                border-radius: 100px;
                padding: 0.5rem 1rem;
                color: var(--blue);
                @media screen and (max-width: 830px) {
                    padding: 0.5rem 0.5rem;
                }
            }
        }
    }
}
.workHis-box h3{
    font-size: 1.5rem;
    font-weight: var(--font-weight-semi-bold);
    margin-bottom: 1rem;
}
.education-box{
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 20px;
}
.education-box h3{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: var(--font-weight-semi-bold);
}
.education-box p{
    font-family: var(--font-family-body);
    font-size: 24px;
    margin-bottom: 1.5rem;
    @media screen and (max-width: 830px) {
        margin-bottom: 2rem;
    }
}
.review-box{
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
    height: max-content;
    border-radius: 8px;
    padding: 1.3rem;
}
.review-box h3{
    font-size: 1.5rem;
    font-weight: var(--font-weight-semi-bold);
    margin-bottom: 1rem;
}
.review-box .no_review{
    font-size: 1.5rem;
    font-weight: var(--font-weight-semi-bold);
    color: var(--grey-dark);
}
.client{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.client img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 0.5rem;
    @media screen and (max-width: 830px) {
        width: 25px;
        height: 25px;
    }
}
.client h5{
    display: flex;
    align-items: center;
}
.client .bxs-star{
    font-size: 20px;
    color: #ffe606;
}
.client .client-name{
    font-family: var(--font-family-header);
    font-weight: var(--font-weight-semi-bold);
    font-size: 16px;
    width: 68%;
}
.client h5{
    display: flex;
    justify-self: end;
    font-family: var(--font-family-header);
    font-size: 16px;
    font-weight: var(--font-weight-semi-bold);
}
.review_wrapper p{
    font-family: var(--font-family-body);
    font-size: 1rem;
    margin-top: 1.3rem;
    margin-bottom: 1rem;
    width: auto;
}
.bx-edit-alt{
    height: 100%;
    /* width:20%; */
    border: solid 0.5px var(--green);
    border-radius: 50%;
    color: black;
    font-size: 25px;
    cursor: pointer;
    padding: 10px;
    @media screen and (max-width:550px) {
        .email .bx-edit-alt{
            margin-right: 20%;
        }
    }
}
.education-box h3, .expertise h3, .email, .about-box h3{
    display: flex;
    justify-content: space-between;
}
.media .bx-edit-alt{
    display: flex;
    align-items: center;
    height: max-content;
}
.bx-edit-alt:hover{
    background-color: var(--green);
    color: white;
    opacity: 0.9s;
}
form{
    width: max-content;
    height: max-content;
    padding: 20px 30px;
    /* display: flex; */
    /* justify-content: center; */
}
h3{
   font-family: var(--font-family-header);
   font-size: 20px;
   font-weight: var(--font-weight-semi-bold); 
}
input[type="text"]{
    width: 400px;
    height: max-content;
    border-radius: 8px;
    padding: 10px;
}

.row{
    display: flex;
    align-items: center;
    font-family: var(--font-family-body);
    #country{
        margin-right: 3%;
        width: 50%;
    }
    #city{
        width: 50%;
    }
    h5{
        margin: 5%;
    }
}
label{
    font-family: var(--font-family-header);
    font-size: 20px;
    @media screen and (max-width:550px){
        font-size: 15px;
    }
}
select{
    width: 400px;
    height: max-content;
    padding: 13px;
    border-radius: 8px;
}
#date_from, #till{
    width: 50%;
}
#date_from{
    margin-right: 3%;
}
input[type="date"]{
    width: max-content;
    height: max-content;
    padding: 10px;
    border-radius: 8px;
}
input::placeholder{
    font-family: var(--font-family-body);
}
.dropdown1 {
    position: relative;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    min-width: 150px;
    width: 400px;
    min-height: 50px;
    max-height: 500px;
   
}

.dropdown1 .arrow {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
}

.dropdown1 .options {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    overflow-y: auto; /* Make the options scrollable */
    max-height: 150px; /* Set the maximum height */
    width: calc(100% - 2px);
}

.dropdown1 .options.show {
    display: block;
}

.option {
    padding: 5px;
    cursor: pointer;
}

.option:hover {
    background-color: #f0f0f0;
}

.search-box {
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.search-input {
    width: calc(100% - 10px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.selected-options {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

.selected-option {
    background-color: #e0e0e0;
    border-radius: 15px;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}
::selection{
    color: #fff;
    background: #4285f4;
  }
  .wrapper{
    width: 370px;
    margin: 85px auto 0;
  }
  .select-btn, li{
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .select-btn{
    height: 65px;
    padding: 0 20px;
    font-size: 22px;
    background: #fff;
    border-radius: 7px;
    justify-content: space-between;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  }
  .select-btn i{
    font-size: 31px;
    transition: transform 0.3s linear;
  }
  textarea{
    width: 400px;
    border-radius: 8px;
    padding: 5px;
    @media screen and (max-width:550px) {
        width: 255px;
    }
  }
  /* CSS for the modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }
  /* Modal content */
  .modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    max-width: 80%; /* Adjust as needed */
   width:500px;
   height: max-content;
   input{
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 5%;
   }
   h2{
    font-family: var(--font-family-header);
    font-size: 20px;
    font-weight: var(--font-weight-semi-bold);
   }
   @media screen and (max-width:550px) {
    width: 300px;
   }
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .editButton{
    background-color: none;
  }
button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.modal-buttons{
    display: flex;
    justify-content: flex-end;
}
.cancel{
    width: 20%;
    background-color: red;
    padding: 5px;
    border-radius: 8px;
    color: white;
    font-family: var(--font-family-header);
    margin-right: 2%;
}
.save{
    width: 20%;
    background-color: var(--green);
    padding: 5px;
    border-radius: 8px;
    color: white;
    font-family: var(--font-family-header);
}
.btn1{
    display: flex;
    justify-content: end;
}
