@layer reset {
    *,
    *::after,
    *::before {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    body {
      margin: unset;
    }
    button,
    input,
    textarea,
    select {
      font: inherit;
    }
    img,
    picture,
    svg,
    canvas {
      /* display: block; */
      max-inline-size: 100%;
      block-size: auto;
    }
    @media (prefers-reduced-motion: reduce) {
      *,
      *::before,
      *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
      }
    }
}
:root{
    --grey-dark:#716E6E;
    --grey-light: #AEAEAE;
    --green: #0BDE46;
    --blue:#0D79DD;
    --blue-dark:#052054;
    --font-family-body:"Lato", sans-serif;
    --font-family-header: "Work Sans", sans-serif;
    --font-weight-thin: 100;
    --font-weight-extra-light: 200;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 700;
}
/* body{
    padding-inline: 2.5rem;
} */
/* .mult-select-tag {
    display: flex;
    width: 500px;
    flex-direction: column;
    align-items: center;
    position: relative;
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-color: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    --border-color: rgb(218, 221, 224);
    font-family: Verdana, sans-serif;
    /* border: solid 2px var(--grey-dark);
    height: max-content;
    border-radius: 8px; */
/* }

.mult-select-tag .wrapper {
    width: 100%;
}

.mult-select-tag .body {
    display: flex;
    border: 1px solid var(--border-color);
    background: white;
    min-height: 2.47rem;
    width:100%;
    min-width: 20rem;

}

.mult-select-tag .input-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    padding: 0.1rem;
    align-items: center;
}

.mult-select-tag .input-body {
    display: flex;
    width: 100%;
}

.mult-select-tag .input {
    flex:1;
    background: transparent;
    /* border-radius: 0.25rem; */
    /* padding: 0.45rem;
    margin: 10px;
    color: #2d3748;
    outline: 0;
    border: 1px solid var(--border-color);
    border: solid 2px var(--grey-dark);
    height: max-content;
    border-radius: 8px;
}

.mult-select-tag .btn-container {
    color: #e2eBf0;
    padding: 0.5rem;
    display: flex;
    border-left: none;
}  */ 

/* .mult-select-tag button {
    cursor: pointer;
    width: 100%;
    color: #718096;
    outline: 0;
    height: 100%;
    border: none;
    padding: 0;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    text-transform: none;
    margin: 0;
} */

.dropdown1 {
    position: relative;
    display: inline-block;
    border: 2px solid var(--grey-dark);
    border-radius: 8px;
    padding: 5px;
    width: 354px;
    min-height: 50px;
    max-height: 500px;
   
}

.dropdown1 .arrow {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
}

.dropdown1 .options {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    z-index: 1;
    background-color: white;
    /* border: 1px solid #ccc; */
    border-top: none;
    border-radius: 0 0 5px 5px;
    overflow-y: auto; /* Make the options scrollable */
    max-height: 150px; /* Set the maximum height */
    width: calc(100% - 2px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    scrollbar-width: none;
}

.dropdown1 .options.show {
    display: block;
}

.option {
    padding: 5px;
    cursor: pointer;
}

.option:hover {
    background-color: #f0f0f0;
}

.search-box {
    /* position: fixed; */
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.search-input {
    width: calc(100% - 10px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.selected-options {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

.selected-option {
    background-color: #e0e0e0;
    border-radius: 15px;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}
::selection{
    color: #fff;
    background: #4285f4;
  }
  .wrapper{
    width: 370px;
    /* margin: 85px auto 0; */
       margin-top: -2.5%;
  }
  .select-btn, li{
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .select-btn{
    width: 354px;
    height: 49.5px;
    /* padding: 0 5px; */
    font-size: 22px;
    /* background: #fff; */
    border-radius: 8px;
    justify-content: space-between;
    border: solid 2px var(--grey-dark);
  }
  .select-btn i{
    font-size: 31px;
    /* transition: transform 0.3s linear; */
  }
  /* .wrapper.active .select-btn i{
    transform: rotate(-180deg);
  } */
  .content{
    display: none;
    padding: 5px;
    /* margin-top: 15px; */
    background: white;
    border-radius: 7px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  }
  .wrapper.active .content{
    display: block;
    position: absolute;
    width: 24%;
  }
  .content .search{
    position: relative;
  }
  /* .search i{
    top: 50%;
    left: 15px;
    color: #999;
    font-size: 20px;
    pointer-events: none;
    transform: translateY(-50%);
    position: absolute;
  } */
  .expert, .wrapper{
    margin-right: 5%;
  }
  .search input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 17px;
    border-radius: 5px;
    /* padding: 0 20px 0 43px; */
    border: 1px solid #B3B3B3;
  }
  .search input:focus{
    /* padding-left: 42px; */
    border: 2px solid black;
  }
  .search input::placeholder{
    color: #bfbfbf;
  }
  .content .c_options{
    border-top: solid 0.2px black;
    margin-top: 10px;
    height: 70px;
    overflow-y: auto;
    padding-right: 7px;
    scrollbar-width: none;
  }
  .c_options::-webkit-scrollbar{
    width: 7px;
  }
  .c_options::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 25px;
  }
  .c_options::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 25px;
  }
  .c_options::-webkit-scrollbar-thumb:hover{
    background: #b3b3b3;
  }
  .c_options li{
    height: 50px;
    padding: 0 13px;
    font-size: 21px;
  }
  .c_options li:hover, li.selected{
    border-radius: 5px;
    background: #f2f2f2;
  }
  .experience{
    margin-top: -1%;
  }
  #experience{
    width: 354px;
    height: 45px;
    border-radius: 8px; 
    padding: 10px;
  }
.navbar{
    display: flex;
    font-family: var(--font-family-header);
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.5);
    padding-inline: 2.5rem;
    min-height: 5rem;
    /* margin: 0 0 57px 0; */
}
.navbar ul {
    display: flex;
    gap: 5.25rem;
    justify-content: center;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    color: #000;
    font-size: 1.25rem;
    font-weight: var(--font-weight-medium);
}
.navbar ul li a:hover{
    color: var(--green);
}
.nav-btns{
    display: flex;
    gap: 1rem;
}
.nav-btns .login-btn{
    padding: 0.625rem 3.0625rem;
    font-family: var(--font-family-header);
    font-weight: var(--font-weight-semi-bold);
    font-size: 1.25rem;
    border-radius: 10px;
    border: 1px solid var(--grey-dark);
    background-color: #fff;
    color: #000;
}
.nav-btns .login-btn:hover{
    background-color: var(--grey-dark);
    cursor: pointer;
    color: #fff;
}
.nav-btns .register-btn{
    padding: 0.625rem 1.75rem;
    font-family: var(--font-family-header);
    font-weight: var(--font-weight-semi-bold);
    font-size: 1.25rem;
    border-radius: 10px;
    border: 1px solid var(--green);
    background-color: #fff;
}
.nav-btns .register-btn:hover{
    background-color: var(--green);
    cursor: pointer;
    color: #fff;
}
form{
    margin: 60px;
}
.greeting{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 35px;
}
.greeting h2{
    color:var(--blue);
    font-family: var(--font-family-header);
    font-size: 48px;
    font-weight: var(--font-weight-medium);
    margin-right: 10px;
}
.greeting h5{
    font-family: var(--font-family-header);
    font-size: 32px;
    font-weight: var(--font-weight-bold);
    padding-top: 10px;
}
.describe{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
}
.describe p{
    font-family: var(--font-family-body);
    font-size: 16px;
}
.profile{
    margin-left: 80px;
    margin-bottom: 30px;
}
.image{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.image img{
    position: absolute;
    height: 120px;
    width: 120px;
    border-radius: 50%;
}
.icon{
    position: relative;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: #ffffff;
    margin-top: 90px ;
    margin-left: 88px;
}
.plus-icon{
    height: 13;
    width: 13;
    color: var(--blue);
}
.image input{
    display: none;
}
.upload h4{
    font-family: var(--font-family-header);
    font-size: 24px;
    font-weight: var(--font-weight-semi-bold);
}
.upload p{
    font-family: var(--font-family-body);
    font-weight: var(--font-weight-light);
    font-size: 16px;
    color: var(--grey-dark);
    margin-bottom: 10px;
}
.name-1{
    display: flex;
    align-items: center;
    /* position: relative; */
}
.name-1 h4{
    font-family: var(--font-family-header);
    font-size: 24px;
    font-weight: var(--font-weight-bold);
}
.name-1 input{
    border: none;
    width: 300px;
    outline: none;
    font-weight: var(--font-weight-medium);
    font-size: 20px;
    font-family: var(--font-family-body);
}
.name-1 input::placeholder{
    font-family: var(--font-family-body);
}
hr{
    background: var(--blue);
    width: auto;
    height: 1px;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 2%;
}
.row-1{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
.user-detail{
    margin-right:5%;
}
input{
    padding: 10px;
    width: 354px;
    height:42px;
    border-radius: 8px;
}
h3{
    font-family: var(--font-family-header);
    font-size: 24px;
    font-weight: var(--font-weight-bold);
    margin-bottom: 5px;
}
p{
    font-family: var(--font-family-body);
    font-size: 14px;
    font-weight: var(--font-weight-light);
    margin-bottom: 5px;
    color: var(--grey-dark);
}
input::placeholder{
    font-family: var(--font-family-body);
}
/* .user-detail input{
    width: 450px;
    height:42px;
    border-radius: 8px;
} */
.address h3{
    padding-bottom: 25px;
}
/* .address input{
    width: 354px;
    height:42px;
    border-radius: 8px;
} */
.address input{
    padding-bottom: 10px;
}
.Bio{
    margin-left: 50px;
    margin-bottom: 30px;
}
.Bio textarea{
    width: 960px;
    height:152px;
    border-radius: 8px;
}
.education{
    margin-left: 50px;
    padding-bottom: 30px;
    width: 90%;
}
.row-2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.school .input-school{
    padding-bottom: 10px;
}
.sub-topic{
    font-family: var(--font-family-header);
    font-size: 20px;
    font-weight: var(--font-weight-semi-bold);
    padding-bottom: 5px;
}
/* .date{
    display: flex;
    flex-direction: row;
} */
.Categories{
    display: flex;
    align-items: center;
    border: solid 1px black;
    border-radius: 28px;
    padding: 14px;
    width: max-content;
    cursor: pointer;
}
.Categories h5{
    font-family: var(--font-family-header);
    font-size: 20px;
    font-weight: var(--font-weight-medium);
    margin-right: 300px;
}
.dropdown{
    display: none;
    width: 450px;
    padding: 14px;
    border: solid 0.5px black;
    border-radius: 8px;
    position: absolute;
    overflow-y: auto;
    scrollbar-width: none;
    background-color: #ffffff;
    height: 508px;
}
.arrow-icon {
    display: inline-block;
    /* transition: transform 0.2s ease-in-out;  */
    transition: transform 0.02s ease-in-out; /* add a smooth transition */
  }
.calender{
    /* width: 200px; */
    display: flex;
    align-items: center;
    border-radius: 8px;
    /* height: max-content; */
    margin-right: 50px;
    height: 42.5px;
    border: solid 1.7px var(--grey-dark);
    /* background-color: red; */
    /* padding: 10px,0px,10px,0px; */
}
.date{
    margin-left: 30px;
}
.date .sub-topic{
    position: relative;
    padding-left: 50px;
}
.calender input{
    width: 354px;
    border: none;
    height: 30px;
    outline: none;
}
.calender-1{
    /* width: 200px; */
    display: flex;
    align-items: center;
    border: solid 1.7px var(--grey-dark);
    border-radius: 8px;
    height: max-content;
}
.calender-1 input{
    width: 350px;
    height: max-content;
    border: none;
}
.skill{
    margin-left: 50px;
    margin-bottom: 30px;
}
.row-4{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.drop{
    display: flex;
    align-items: center;
    border: solid 1.7px var(--grey-dark);
    border-radius: 8px;
    height: 43px;
    margin-right: 80px;
}
.drop input{
    border: none;
    height: max-content;
    /* width: 325px; */
}
.row-3 p{
    padding-bottom: none;
}
.employ{
    margin-left: 50px;
    margin-bottom: 30px;
}
#checkbox{
    width: 20px;
    height: 20px;
    margin-right: 1%;
}
.row-6{
    label{
        font-family: var(--font-family-header);
        font-size: 20px;
        font-weight: var(--font-weight-medium);
    }
}
.row-4{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.company{
    margin-right: 50px;
}
.row-5{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 5px;
}
.row-5 h4{
    font-family: var(--font-family-body);
    font-size: 16px;
    padding: 5px;
}
.till{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 1.7px var(--grey-dark);
    border-radius: 8px;
}
.till input{
    width: 150px;
    height: max-content;
    border: none;
}
.row-6{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.row-6 h6{
    font-family: var(--font-family-body);
    font-size: 20px;
    font-weight: var(--font-weight-medium);
}
.media{
    margin-left: 50px;
    margin-bottom: 30px;
    display: block;
}
.submit{
    display: flex;
    justify-content: center;
}
.submit a{
    text-decoration: none;
}
#btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-header);
    font-size: 24px;
    font-weight: var(--font-weight-semi-bold);
    color: #ffffff;
    width: 332px;
    height: 48px;
    border-radius: 10px;
    background-color: var(--green);
    border: none;
}

/* ::selection{
    color: #fff;
    background: #4285f4;
  }
  .wrapper{
    width: 370px;
    margin: 85px auto 0;
  }
  .select-btn, li{
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .select-btn{
    height: 65px;
    padding: 0 20px;
    font-size: 22px;
    background: #fff;
    border-radius: 7px;
    justify-content: space-between;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  }
  .select-btn i{
    font-size: 31px;
    transition: transform 0.3s linear;
  }
  .wrapper.active .select-btn i{
    transform: rotate(-180deg);
  }
  .content{
    display: none;
    padding: 20px;
    margin-top: 15px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  }
  .wrapper.active .content{
    display: block;
  }
  .content .search{
    position: relative;
  }
  .search i{
    top: 50%;
    left: 15px;
    color: #999;
    font-size: 20px;
    pointer-events: none;
    transform: translateY(-50%);
    position: absolute;
  }
  .search input{
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 17px;
    border-radius: 5px;
    padding: 0 20px 0 43px;
    border: 1px solid #B3B3B3;
  }
  .search input:focus{
    padding-left: 42px;
    border: 2px solid #4285f4;
  }
  .search input::placeholder{
    color: #bfbfbf;
  }
  .content .options{
    margin-top: 10px;
    max-height: 250px;
    overflow-y: auto;
    padding-right: 7px;
  }
  .options::-webkit-scrollbar{
    width: 7px;
  }
  .options::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 25px;
  }
  .options::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 25px;
  }
  .options::-webkit-scrollbar-thumb:hover{
    background: #b3b3b3;
  }
  .options li{
    height: 50px;
    padding: 0 13px;
    font-size: 21px;
  }
  .options li:hover, li.selected{
    border-radius: 5px;
    background: #f2f2f2;
  } */
@media (max-width:830px){
    form{
        margin: 30px;
    }
    .greeting{
        display: block;
        margin: auto;
    }
    .describe{
        display: block;
        margin: auto;
    }
    .profile{
        margin: auto;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        /* align-items: center; */
    }
    .address h3{
        margin-top: 15px;
        margin-bottom: -14px;
    }
    .upload{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .upload h4, .upload p{
        display: flex;
        align-self: center;
    }
    .name-1 input{
        margin-top: -5%;
    }
    .row-1, .row-2, .row-3, .row-4{
        display: block;
    }
    .Bio, .education, .skill, .employ, .media{
        padding-left: 30px;
    }
    .user-detail, .address{
        padding-left: 50px;
    }
    .calender{
        margin-bottom: 5px;
        width: max-content;
    }
    .calender input{
        width: 354px;
    } 
    .Bio textarea{
        width: 90%;
    }
    .row-2 .date{
        margin: auto;
    }
    /* .calender{
        margin-right: 0px;
    } */
    .row-2 .date .sub-topic{
        padding-left: 0px;
    }
    .drop, .drop-1{
        width: max-content;
    }
    .drop input, .drop-1 input{
        width: 329px;
    }
    .till input{
        width: 115px;
    }
    .btn{
        justify-content: center;
    }
    .address input{
        margin-top: 1%;
    }
    .expert{
        margin-bottom: 10%;
    }
    .wrapper{
        margin-bottom: 13%;
    }

}
@media (max-width:593px){
    .greeting h2, .greeting h5{
        font-size:16px;
    }
    .describe p{
        font-size: 12px;
        width: 370px;
    }
    .address h3{
        margin-top: 15px;
        margin-bottom: -14px;
    }
    .user-detail input{
        width: 115%;
    }
    .address input{
        width: 110%;
    }
    .image img{
        width: 56px;
        height: 56px;
    }
    .icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 11px;
        height: 11px;
        margin-top: 40px;
        margin-left: 45px;
    }
    .plus-icon{
        font-size: 10px;
    }
    .name-1 h4, .name-1 input{
        padding-left:10px;
    }
    .name-1 input{
        width: 200px;
        padding-top: 7px;
        padding-left: 2px;
    }
    .upload h4{
        font-size: 12px;
    }
    .upload p{
        font-size: 11px;
    }
    .name-1 input::placeholder{
        font-size: 11px;
    }
    h3{
        font-size: 14px;
    }
    p{
        font-size: 11px;
    }
    input::placeholder{
        font-size: 12px;
    }
    h4, h6{
        font-size: 12px;
    }
    .sub-topic{
        font-size: 12px;
    }
    .profile{
        position: relative;
        margin-left:50px;
    }
    /* .name-1 input::placeholder{
        font-size: 12px;
    } */
    .name-1 input{
        margin-top: -4%;
        width: 189px;
    }
    .user-detail, .address{
        padding-left: 2%;
    }
    .Bio, .education, .skill, .employ, .media{
        margin-left: -1%;
        width: 100%;
    }
    input{
        width: 100%;
        /* height: 32px; */
    }
    .Bio input{
        width: 280px;
    }
    .calender input{
        width: 254px;
    }
    .drop input, .drop-1 input{
        width: 260px;
    }
    .till input{
        width: 79px;
    }
    .btn a{
        width: 171px;
        height: 36px;
        font-size: 15px;
    }
    hr{
        width: 100%;
    }
    .Bio textarea{
        width: 100%;
    }
    .calender{
        width: 100%;
    }
    .calender input{
        width: 100%;
    }
    .select-btn{
        width: 93%;
    }
    .wrapper{
        margin-bottom: 5%;
    }
    #experience{
        width: 100%;
    }
    .company input{
        width: 116.5%;
    }
    .dropdown1{
        width: 106%;
        margin-bottom: 1%;
    }
    .row-5{
        display: block;
    }
    .till input[type="text"]{
        width: 100%;
    }
    .till input[type="date"]{
        width: 100%;
    }
    input{
        width: 100%;
    }
    #btn{
        margin-left: 20%;
        width: 100px;
    }
    .wrapper.active .content{
        width: 93%;
    }
}