@layer reset {
  * {
    margin: 0;
    padding: 0;
  }
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    margin: 0;
    padding: 0;
  }
  button,
  input,
  textarea,
  select {
    font: inherit;
  }
  img,
  picture,
  svg,
  canvas {
    max-inline-size: 100%;
    block-size: auto;
  }
  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}

:root {
  --grey-dark: #716e6e;
  --grey-light: #aeaeae;
  --green: #0bde46;
  --blue: #0d79dd;
  --blue-dark: #052054;
  --blue-light: #09abdd;
  --font-family-body: "Lato", sans-serif;
  --font-family-header: "Work Sans", sans-serif;
  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 700;
}
body{
  &::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
  
  &::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background color of the track */
  }
  
  &::-webkit-scrollbar-thumb {
    background: var(--blue); /* Color of the thumb */
    border-radius: 10px;
  }
  
  &::-webkit-scrollbar-thumb:hover {
    background: var(--blue-dark); /* Color of the thumb on hover */
    cursor: grabbing;
  }
}

h1,
h2,
h3 {
  color: var(--blue);
  font-family: var(--font-family-header);
  font-weight: var(--font-weight-medium);
}
p,
span {
  font-family: var(--font-family-body);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 4rem;
  .topnavOpen {
    display: none;
    @media screen and (max-width: 550px) {
      display: flex;
      border: none;
      background: none;
      font-size: 2rem;
      &[aria-expanded="true"] + .topnav {
        translate: 0;
      }
    }
  }
  .topnav {
    .nav_list {
      display: flex;
      justify-content: center;
      gap: clamp(1rem, 5vw, 10rem);
      transform: translateX(-15rem);
      .nav_item {
        list-style: none;
        font-family: var(--font-family-header);
        font-size: 1.5rem;
        font-weight: var(--font-weight-medium);
        cursor: pointer;
        &:hover {
          color: var(--green);
        }
        a {
          text-decoration: none;
          color: #000;
          &:hover,
          &:focus-visible,
          &:active {
            color: var(--green);
            outline: none;
          }
          &[aria-current="page"]{
            color: var(--green);
          }
        }
      }
      .projects_nav {
        position: relative;
        &:hover .sub_nav_list,
        &:focus-visible .sub_nav_list {
          display: flex;
        }
        .sub_nav_list {
          position: absolute;
          list-style: none;
          display: flex;
          flex-direction: column;
          gap: 0.4rem;
          border: 1px solid var(--grey-dark);
          width: 270px;
          border-radius: 5px;
          padding: 0.5rem;
          display: none;
          background: #fff;
          .sub_nav_item{
            a{
              &[aria-current="page"]{
              color: var(--green);
            }
            }
          }
        }
      }
      .mobile {
        display: none;
        a{
          &[aria-current="page"]{
            color: var(--green);
          }
        }
      }
      @media screen and (max-width: 1250px) {
        transform: translateX(-12rem);
      }
      @media screen and (max-width: 1100px) {
        transform: translateX(-8rem);
      }
      @media screen and (max-width: 970px) {
        transform: translateX(-4rem);
      }
      @media screen and (max-width: 830px) {
        transform: translateX(0rem);
      }
    }
    @media screen and (max-width: 550px) {
      position: fixed;
      background: #fff;
      inset: 0;
      translate: 200vw 0;
      transition: translate 0.5s ease-in-out;
      z-index: 10;
      .nav_list {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 1rem;
        .projects_nav {
          display: none;
        }
        .mobile {
          display: block;
        }
      }
    }
    .topnavClose {
      display: none;
      @media screen and (max-width: 550px) {
        display: block;
        margin: 1rem 1rem 0 auto;
        border: none;
        background: none;
        font-size: 3rem;
      }
    }
  }
  .profile_wrapper {
    .profile {
      background: none;
      border: none;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      position: relative;
      cursor: pointer;
      &[aria-expanded="false"] + .profile_menu {
        display: none;
      }
      &[aria-expanded="true"] + .profile_menu {
        display: flex;
      }
    }
    .profile_menu {
      flex-direction: column;
      align-items: center;
      border: 1px solid var(--grey-dark);
      border-radius: 10px;
      padding: 1.5rem 1.5rem 1rem 1.5rem;
      background-color: #fff;
      position: absolute;
      top: 5.6rem;
      right: 3.2rem;
      z-index: 5;
      &::before {
        content: "";
        width: 30px;
        height: 30px;
        border-top: 1px solid var(--grey-dark);
        border-left: 1px solid var(--grey-dark);
        background: #fff;
        transform: rotate(45deg);
        position: absolute;
        top: -16px;
        right: 20px;
      }
      img {
        width: 105px;
        height: 105px;
        border-radius: 50%;
        margin-bottom: 0.5rem;
      }
      #client_name {
        font-family: var(--font-family-header);
        font-size: 1.3rem;
        font-weight: var(--font-weight-semi-bold);
      }
      h5 {
        margin-bottom: 1rem;
        font-family: var(--font-family-header);
        font-size: 1.3rem;
        font-weight: var(--font-weight-regular);
        @media screen and (max-width: 830px) {
          margin-bottom: 0.5rem;
        }
      }
      ul {
        li {
          list-style: none;
          margin-bottom: 0.5rem;
          a {
            display: flex;
            align-items: center;
            font-family: var(--font-family-body);
            font-size: 1.3rem;
            color: #000;
            text-decoration: none;
            &:hover {
              color: var(--green);
            }
            .bx {
              font-size: 1.6rem;
              margin-right: 1rem;
            }
          }
        }
      }
      @media screen and (max-width: 830px) {
        right: 0.2rem;
        padding: 1rem;
      }
    }
    @media screen and (max-width: 550px) {
      display: none;
    }
  }
  @media screen and (max-width: 900px) {
    padding: 1.5rem 1rem;
  }
  @media screen and (max-width: 550px) {
    padding: 0.5rem 0.5rem;
    .logo {
      width: 10rem;
    }
  }
}
.footer {
  background-color: var(--blue-dark);
  padding: 33px 69px 0 69px;
  .footer-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    @media screen and (max-width: 550px) {
      flex-direction: column;
    }
  }
  .category {
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 17px;
    h5 {
      font-family: var(--font-family-header);
      margin-bottom: 5px;
      font-size: 1.5rem;
      font-weight: var(--font-weight-medium);
    }
    a {
      text-decoration: none;
      color: #fff;
      font-family: var(--font-family-body);
      font-size: 1.3rem;
      font-weight: var(--font-weight-medium);
      width: fit-content;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0;
        background-color: #fff;
        height: 2px;
        transition: width 0.3s ease-in-out;
      }
      &:focus-visible {
        outline: none;
      }
      &:hover::after,
      &:focus-visible::after {
        width: 100%;
      }
    }
  }
  .info {
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin-top: 40px;
    a {
      text-decoration: none;
      color: #fff;
      font-family: var(--font-family-body);
      font-size: 1.3rem;
      font-weight: var(--font-weight-medium);
      position: relative;
      width: fit-content;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0;
        background-color: #fff;
        height: 2px;
        transition: width 0.3s ease-in-out;
      }
      &:focus-visible {
        outline: none;
      }
      &:hover::after,
      &:focus-visible::after {
        width: 100%;
      }
    }
  }
  .contact-details {
    font-family: var(--font-family-body);
    color: #fff;
    margin-top: 40px;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 17px;
    a {
      text-decoration: none;
      color: #fff;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0;
        background-color: #fff;
        height: 2px;
        transition: width 0.3s ease-in-out;
      }
      &:focus-visible {
        outline: none;
      }
      &:hover::after,
      &:focus-visible::after {
        width: 100%;
      }
    }
    .social-icons {
      display: flex;
      gap: 20px;
    }
  }
  .copyright {
    display: flex;
    padding: 22px 0;
    justify-content: center;
    color: #fff;
    font-family: var(--font-family-body);
  }
  @media screen and (max-width: 830px) {
    padding: 10px;
  }
}

.contact-modal {
  max-width: 850px;
  border-radius: 20px;
  border: 2px solid black;
  padding: 20px 54px;
  position: relative;
  margin: auto;
  position: fixed;
  .close-contact-modal {
    position: absolute;
    float: right;
    right: 20px;
    top: 20px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    @media screen and (max-width: 550px) {
      top: 10px;
      right: 10px;
    }
  }
  form {
    h3 {
      text-align: center;
      font-family: var(--font-family-header);
      font-size: 2rem;
      font-weight: var(--font-weight-medium);
      color: var(--blue);
      margin: 35px 0 10px 0;
      @media screen and (max-width: 550px) {
        font-size: 1.5rem;
      }
    }
    p {
      font-family: var(--font-family-body);
      font-size: 1.5rem;
      font-weight: var(--font-weight-regular);
      margin-bottom: 36px;
      @media screen and (max-width: 550px) {
        margin-bottom: 10px;
        font-size: 1rem;
      }
    }
    fieldset {
      border: none;
      margin-bottom: 23px;
      legend {
        font-family: var(--font-family-header);
        font-size: 24px;
        font-weight: var(--font-weight-medium);
        margin-bottom: 13px;
      }
      .role-field {
        display: flex;
        gap: 29px;
        div {
          display: flex;
          align-items: center;
          label {
            font-size: 20px;
            font-weight: var(--font-weight-regular);
            font-family: var(--font-family-body);
          }
          input {
            width: 20px;
            height: 20px;
            margin-right: 15px;
          }
        }
      }
    }
    .message-field {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
      font-weight: var(--font-weight-medium);
      font-size: 24px;
      font-family: var(--font-family-header);
      textarea {
        border: 2px solid black;
        width: 100%;
        border-radius: 10px;
        padding-left: 10px;
        padding-top: 10px;
        font-size: 1rem;
        font-family: var(--font-family-body);
      }
    }
    .submit-btn {
      border: none;
      width: 185px;
      height: 43px;
      border-radius: 10px;
      color: #fff;
      background-color: var(--green);
      font-family: var(--font-family-header);
      font-weight: var(--font-weight-medium);
      font-size: 24px;
      display: block;
      margin-inline: auto;
    }
    .submit-btn:hover {
      opacity: 0.9;
      cursor: pointer;
    }
  }
  @media screen and (max-width: 830px) {
    margin: 5rem 1rem;
  }
  @media screen and (max-width: 550px) {
    padding: 14px;
    margin: 5rem 0.5rem;
  }
}
.contact-modal::backdrop {
  background-color: rgb(0 0 0 / 0.5);
}

.feedback-modal {
  max-width: 850px;
  position: relative;
  border: 2px solid black;
  border-radius: 15px;
  padding: 44px 40px;
  margin: auto;
  position: fixed;
  .close-feedback-modal {
    position: absolute;
    border: none;
    background-color: rgb(0 0 0 /0);
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    h3 {
      font-family: var(--font-family-header);
      font-weight: var(--font-weight-medium);
      font-size: 2rem;
      color: var(--blue);
      @media screen and (max-width: 550px) {
        font-size: 1.5rem;
      }
    }
    p {
      text-align: center;
      font-family: var(--font-family-body);
      font-weight: var(--font-weight-medium);
      margin-bottom: 30px;
      font-size: 1.5rem;
      @media screen and (max-width: 550px) {
        margin-bottom: 10px;
        font-size: 1rem;
      }
    }
    textarea {
      resize: none;
      /* max-width: 688px; */
      width: 100%;
      border: 1.5px solid #000;
      border-radius: 20px;
      padding: 15px 15px;
      font-family: var(--font-family-body);
    }
    .submit-btn {
      border: none;
      background-color: var(--green);
      width: 275px;
      height: 54px;
      border-radius: 10px;
      font-family: var(--font-family-header);
      font-weight: var(--font-weight-medium);
      color: #fff;
      font-size: 1.5rem;
      margin-top: 50px;
    }
    .submit-btn:hover {
      opacity: 0.9;
      cursor: pointer;
    }
  }
  @media screen and (max-width: 830px) {
    margin: 5rem 1rem;
  }
  @media screen and (max-width: 550px) {
    margin: 5rem 0.5rem;
  }
}
.feedback-modal::backdrop {
  background-color: rgb(0 0 0 /0.5);
}
