@layer reset {
    * {
      margin: 0;
      padding: 0;
    }
    *::after,
    *::before {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    body {
      margin: 0;
      padding: 0;
    }
    button,
    input,
    textarea,
    select {
      font: inherit;
    }
    img,
    picture,
    svg,
    canvas {
      max-inline-size: 100%;
      block-size: auto;
    }
    @media (prefers-reduced-motion: reduce) {
      *,
      *::before,
      *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
      }
    }
  }
  
  :root {
    --grey-dark: #716e6e;
    --grey-light: #aeaeae;
    --green: #0bde46;
    --blue: #0d79dd;
    --blue-dark: #052054;
    --blue-light: #09abdd;
    --font-family-body: "Lato", sans-serif;
    --font-family-header: "Work Sans", sans-serif;
    --font-weight-thin: 100;
    --font-weight-extra-light: 200;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 700;
  }

  h1,h2,h3{
    color: var(--blue);
    font-family: var(--font-family-header);
    font-weight: var(--font-weight-medium);
  }
  p, span{
    font-family: var(--font-family-body);
  }
  
  .navbar{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem 4rem;
      .topnavOpen{
        display: none;
        @media screen and (max-width:550px) {
          display: flex;
          border: none;
          background: none;
          font-size: 2rem;
          &[aria-expanded=true] + .topnav{
            translate: 0;
          } 
        }
      }
      .topnav{
        .nav_list{
          display: flex;
          justify-content: center;
          gap: clamp(1rem, 5vw, 10rem);
          transform: translateX(-15rem);
          .nav_item{
            list-style: none;
            font-family: var(--font-family-header);
            font-size: 1.25rem;
            cursor: pointer;
            &:hover{
              color: var(--green);
            }
            a{
              text-decoration: none;
              color: #000;
              &:hover, &:focus-visible, &:active{
                color: var(--green);
                outline: none;
              }
            }
          }
          .projects_nav{
            position: relative;
            &:hover .sub_nav_list, &:focus-visible .sub_nav_list{
              display: flex;
            }
            .sub_nav_list{
              position: absolute;
              list-style: none;
              display: flex;
              flex-direction: column;
              gap: 0.4rem;
              border: 1px solid var(--grey-dark);
              width: 180px;
              border-radius: 5px;
              padding: 0.5rem;
              display: none;
              background: #fff;
            }
          }
          .mobile{
            display: none;
          }
          @media screen and (max-width:1250px) {
            transform: translateX(-12rem);
          }
          @media screen and (max-width:1100px) {
            transform: translateX(-8rem);
          }
          @media screen and (max-width:970px) {
            transform: translateX(-4rem);
          }
          @media screen and (max-width:830px) {
            transform: translateX(0rem);
          }
        }
        @media screen and (max-width:550px) {
          position: fixed;
          background: #fff;
          inset: 0;
          translate: 200vw 0;
          transition: translate 0.5s ease-in-out;
          z-index: 10;
          .nav_list{
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin-top: 1rem;
            .projects_nav{
              display: none;
            }
            .mobile{
              display: block;
            }
          }
        }
        .topnavClose{
          display: none;
          @media screen and (max-width:550px){
            display: block;
            margin: 1rem 1rem 0 auto;
            border: none;
            background: none;
            font-size: 3rem;
          }
        }
      }
      .profile_wrapper{
        .profile{
          background: none;
          border: none;
          width: 45px;
          height: 45px;
          border-radius: 50%;
          position: relative;
          cursor: pointer;
          &[aria-expanded="false"] + .profile_menu{
            display: none;
          }
          &[aria-expanded="true"] + .profile_menu{
            display: flex;
          }
        }
        .profile_menu{
          display: flex;
          flex-direction: column;
          align-items: center;
          border: 1px solid var(--grey-dark);
          border-radius: 10px;
          padding: 1.5rem;
          position: relative;
          background: #fff;
          position: absolute;
          top: 5.6rem;
          right: 2.2rem;
          &::before{
            content: "";
            width: 30px;
            height: 30px;
            border-top: 1px solid var(--grey-dark);
            border-left: 1px solid var(--grey-dark);
            background: #fff;
            transform: rotate(45deg);
            position: absolute;
            top: -16px;
            right: 20px;
          }
          img{
            width: 105px;
            height: 105px;
            border-radius: 50%;
            margin-bottom: 0.5rem;
          }
          #client_name{
            font-family: var(--font-family-header);
            font-size: 1.3rem;
            font-weight: var(--font-weight-semi-bold);
          }
          h5{
            margin-bottom: 1rem;
            font-family: var(--font-family-header);
            font-size: 1.3rem;
            font-weight: var(--font-weight-regular);
          }
          ul{
            li{
              list-style: none;
              margin-bottom: 0.5rem;
              a{
                display: flex;
                align-items: center;
                font-family: var(--font-family-body);
                font-size: 1.3rem;
                color: #000;
                text-decoration: none;
                &:hover{
                  color: var(--green);
                }
                .bx{
                  font-size: 1.6rem;
                  margin-right: 1rem;
                }
              }
            }
          }
        }
        @media screen and (max-width:550px) {
          display: none;
        }
      }
      @media screen and (max-width: 900px) {
        padding: 1.5rem 2rem;
      }
      @media screen and (max-width:550px) {
        padding: 0.5rem 0.5rem;
        .logo{
          width: 10rem;
        }
      }
  }
  