@layer reset {
  * {
    margin: 0;
    padding: 0;
  }
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    margin: 0;
    padding: 0;
  }
  button,
  input,
  textarea,
  select {
    font: inherit;
  }
  img,
  picture,
  svg,
  canvas {
    max-inline-size: 100%;
    block-size: auto;
  }
  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}

:root {
  --grey-dark: #716e6e;
  --grey-light: #aeaeae;
  --green: #0bde46;
  --blue: #0d79dd;
  --blue-dark: #052054;
  --blue-light: #09abdd;
  --font-family-body: "Lato", sans-serif;
  --font-family-header: "Work Sans", sans-serif;
  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 700;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 550px) {
    min-height: 70vh;
    flex-direction: column;
  }
}
main{
  margin-bottom: 2rem;
  @media screen and (max-width: 550px) {
    transform: translateY(-5rem);
  }
}
.logo {
  position: absolute;
  top: 2rem;
  left: 2rem;
  @media screen and (max-width:550px) {
    position: static;
    margin-top: 2rem;
  }
}
.header {
  text-align: center;
  font-family: var(--font-family-header);
  margin-top: 5rem;
  h1 {
    color: var(--blue);
    font-size: 2.5rem;
    font-weight: var(--font-weight-semi-bold);
    margin-bottom: 1rem;
    @media screen and (max-width: 550px) {
      font-size: 2rem;
      margin-bottom: 5px;
    }
  }
  h2 {
    font-weight: var(--font-weight-regular);
    @media screen and (max-width: 550px) {
      font-size: 1rem;
    }
  }
  h3 {
    font-weight: var(--font-weight-regular);
    color: var(--grey-dark);
    @media screen and (max-width: 1050px) {
      padding-inline: 1rem;
    }
    @media screen and (max-width: 550px) {
      font-size: 1rem;
    }
  }
}

form {
  display: block;
  margin-inline: auto;
  max-width: 700px;
  margin-top: 3rem;
  @media screen and (max-width: 550px) {
    margin-top: 1.5rem;
    max-width: 500px;
  }
  @media screen and (max-width: 535px) {
    max-width: 400px;
  }
  .form-field {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-bottom: 2rem;
    label {
      font-family: var(--font-family-header);
      font-weight: var(--font-weight-semi-bold);
      font-size: 1.5rem;
    }
    small {
      font-family: var(--font-family-body);
      color: var(--grey-dark);
      margin-bottom: 0.3rem;
      font-size: 1rem;
    }
    #project_title {
      width: 650px;
      border-radius: 10px;
      height: 44px;
      border: 2px solid #000;
      padding-left: 1rem;
      font-family: var(--font-family-body);
      @media screen and (max-width:650px) {
        width: 500px;
      }
      @media screen and (max-width:525px) {
        width: 400px;
      }
      @media screen and (max-width:535px) {
        width: 350px;
      }
    }
    #project_description {
      resize: none;
      width: 650px;
      border-radius: 10px;
      border: 2px solid #000;
      padding-left: 1rem;
      padding-top: 0.5rem;
      font-family: var(--font-family-body);
      @media screen and (max-width:650px) {
        width: 500px;
      }
      @media screen and (max-width:525px) {
        width: 400px;
      }
      @media screen and (max-width:535px) {
        width: 350px;
      }
    }
    .mult-select-tag{
      width: 650px;
      height: 44px;
      .wrapper{
        .body{
          border: 2px solid #000;
          height: 44px;
          .btn-container{
            border-left: 2px solid #000;
            padding: 0;
            width: 50px;
            button{
              width: 100%;
              polyline{
                transform: translateY(-6px);
              }
            }
          }
        }
        .rounded{
          border-radius: 10px;
        }
      }
    }
    #payment {
      width: 650px;
      height: 44px;
      border-radius: 10px;
      border: 2px solid #000;
      padding-left: 1rem;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      @media screen and (max-width:650px) {
        width: 500px;
      }
      @media screen and (max-width:525px) {
        width: 400px;
      }
      @media screen and (max-width:535px) {
        width: 350px;
      }
    }
    /* Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }
  }
  select{
    width: 650px;
    height: 45px;
    appearance: none;
    padding-left: 1rem;
    font-family: var(--font-family-body);
  }
  .skill-field{
    position: relative;
  }
  .dropdown{
    position: absolute;
    right: 1rem;
    top: 2.3rem;
    font-size: 1.5rem;
    pointer-events: none;
  }
  .project_scope {
    width: fit-content;
    border: none;
    margin-bottom: 1.3rem;
    legend {
      font-family: var(--font-family-header);
      font-size: 1.5rem;
      font-weight: var(--font-weight-semi-bold);
      margin-bottom: 0.6rem;
    }
    .radio-field {
      margin-bottom: 0.7rem;
      label {
        font-family: var(--font-family-body);
        font-size: 1.3rem;
      }
      input {
        width: 20px;
        height: 20px;
        accent-color: #08952f;
      }
    }
  }
  .submit_btn {
    width: 400px;
    height: 45px;
    border-radius: 10px;
    background: var(--green);
    color: #fff;
    font-family: var(--font-family-header);
    font-size: 1.5rem;
    font-weight: var(--font-weight-semi-bold);
    border: none;
    display: block;
    margin-inline: auto;
    cursor: pointer;
    &:hover, &:focus-visible{
      opacity: 0.9;
    }
    @media screen and (max-width: 550px) {
      width: 300px;
    }
  }
}
.success{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  box-shadow: 5px 5px 10px var(--grey-light);
  border-radius: 10px;
  padding: 5rem 2rem;
  display: none;
  @media screen and (max-width:830px) {
    margin: 1rem;
  }
  @media screen and (max-width:830px) {
    padding: 2rem 1rem;
  }
  h1{
    font-family: var(--font-family-header);
    text-align: center;
    font-weight: var(--font-weight-semi-bold);
    @media screen and (max-width:550px) {
      font-size: 1.5rem;
      font-weight: var(--font-weight-medium);
    }
  }
  i{
    font-size: 8rem;
    color: var(--green);
  }
  .links{
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    a{
      text-decoration: none;
      color: var(--blue-light);
      font-family: var(--font-family-body);
      font-size: 1.3rem;
      position: relative;
      &::after{
        content: '';
        position: absolute;
        height: 2px;
        width: 0;
        background-color: var(--blue-light);
        top: 25px;
        left: 0;
        transition: width 0.3s ease-in-out;
      }
      &:hover::after, &:focus-visible::after{
        width: 100%;
      }
    }
    @media screen and (max-width:550px) {
      gap: 10px;
    }
  }
}
